<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask Reddit Clone API</title>
    <link href="../static/styles.css" rel="stylesheet"> 
  </head>
  <body>
    <header><h1>Flask Reddit Clone API</h1></header>
    <main>
      <section>
        <p>Flask REST API for Reddit Clone</p>
        <div class="row">
          <div class="column">
            <div><h2>API Endpoints</h2></div>
          </div>
          <div class="column">
            <div><h2>Image Placeholder</h2></div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
